body{
	  background:#E9FDF9;
	}
.beranda{
	margin-top: 50px;
	font-weight: bold;
	
}
* {
	-webkit-transition-property: all;
	-webkit-transition-duration: .2s;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
	-moz-transition-property: all;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
  /* font-family: times new roman; */
  font-family: 'Open Sans', sans-serif;
}
.style-1 {
	text-align: center;
	color: #C5E7E5;
	margin-top: 50px;
	display: inline-block;
	/* grid-template-columns: 1fr 1fr 1fr; */
	 

}
.style-2 {
	text-align: center;
	color: #59D5DD;
	margin-top: 50px;

}

.btn{
  color:#C5E7E5;
  background-color:#C5E7E5 ;
  text-decoration:none;
  letter-spacing:2px;
  text-transform:uppercase;
  margin: 7px;
  padding: 1.5em;
	
}

.btn1{
  color:#14A2AB;
  background-color:#14A2AB ;
  padding:1em;
  text-decoration:none;
  letter-spacing:2px;
  text-transform:uppercase;
  margin: 7px;
  border-radius: 0.5em;

}

.btn:hover{
  border:none;
  background:#fff;
  padding:20px 20px;
  border-radius: 0.5em;
}

.btn1:hover{
  border:none;
  background:rgba(0, 0, 0, 0.4);
  padding:1.5em;
  border-radius: 0.5em;
}

#image1 {
    width:100px;
    height:100px;
	margin-top:10px; 
	margin-left:10px; 
	background-size:cover;
	max-width: 100px;
	max-height:100px;
}
.span1{
	margin-left:5px;
	margin-top:32px;
	color: black;
 
}
.span2{
	margin-left:5px;
	margin-top: 32px;
	color: white;
}

.modal{
  color:#121414;
}

.btn2{
  color:#000000;
  background-color:#C5E7E5 ;
  text-decoration:none;
  letter-spacing:2px;
  text-transform:uppercase;
  margin: 7px;
  padding: 1.5em;

}

.btn3{
  padding: 1.5em;
	margin-left:5px;
	margin-top: 32px;
	color:#000000;
}

.btn2{
  margin-top: 32px;
  color:#14A2AB;
  background-color:#14A2AB ;
  padding:1em;
  text-decoration:none;
  letter-spacing:2px;
  margin: 7px;
  border-radius: 0.5em;

}

.style-3 {
	text-align: center;
	color: #59D5DD;
	margin-top: 4px;
}

.modal{
  text-align:justify;
  margin: 0 auto;
}